﻿
@{
    ViewBag.Title = "listadoDePlanetas";
}

<!DOCTYPE html>
<html>
<head>
    <title> Resultado Planetas </title>
    <meta charset="uft-8" />
</head>
<body>
    <h1>Tabla de Planetas</h1>
    <div class="seccion_1" id="s1">

        <table class="table-bordered">
            <tr>
                <th>Ficha del planeta</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Numero de anillos</th>
            </tr>
            @foreach (var planeta in ViewBag.planetas)
            {
            <tr>
                <td>@planeta.id</td>
                <td>@planeta.nombre</td>
                <td>@planeta.tipo</td>
                <td>@planeta.numeroAnillos</td>
            </tr>
            }
        </table>
    </div>
</body>
</html>

